.body1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f2f2f2;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.login-title {
  font-size: 24px;
  /* margin-left: 60px; */
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.loginimg {
  width: 50%;
  height: 50%;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
}
.vl {
  border-left: 1px solid rgb(167, 171, 167);
  height: 400px;
}

.logindetails {
  margin-left: 90px;
}
form {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}


  
.loginInputs{
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #1890ff;
  
  outline: none;
  margin-top: 20px;

  font-family: Georgia, "Times New Roman", Times, serif;
  width: 120%;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}



/* input[type="password"] {
  margin-top: 15px;
} */

button {
  background-color: #007bff;
  color: #fff;

  border: none;
  width: 75%;
  /* margin-left: 60px; */
  border-radius: 20px;
 margin-top: 20px;;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  background-color: green;
}

.leftmargin {
  margin-left: 60px;
}

a {
  text-decoration: none;
  color: black;
}
.forgotpassword {
  margin-top: 50px;
  font-size: 14px;
  text-decoration: underline;
}

.createaccount {
  margin-top: 10px;
  font-size: 13px;
}
